
<app-admin-nav></app-admin-nav>
<!-- Bootstrap row -->
<div class="row" id="body-row">
  <app-admin-sidebar></app-admin-sidebar>



  <div class="container admin-container">
    <div class="row">
      <div class="page login-page col-md-12">
        <div class="form-outer text-center d-flex align-items-center">

          <div class="form-inner">
            <div class="logo text-uppercase h3  animated rubberBand"><span>Modifier </span><strong class="text-primary"> Catégorie</strong></div>

            <form (submit)="modifier($event)" class="text-left form-validate">
              <div class="form-group-material">
                <input  [(ngModel)]="categorie.nom" id="cat" placeholder="Catégorie" type="text" name="cat" class="input-material">
              </div>
              <div class="form-group-material">
                <textarea name="descr" [(ngModel)]="categorie.description" placeholder="Description" id="descr" cols="30" rows="10"></textarea>
              </div>
              <div *ngIf="show">
                <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
                  {{msg}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
              <div class="form-group text-center"><button id="edit" name="edit" type="submit" class="btn btn-primary">Modifier</button>
                <!-- This should be submit button but I replaced it with <a> for demo purposes-->
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>






</div><!-- body-row END -->
