<app-navbar></app-navbar>
<div class="page login-page ">
  <div class="container " id="log_cont">
    <div class="form-outer text-center d-flex align-items-center">
      <div class="form-inner col-lg-8  offset-lg-2">
        <div class="logo text-uppercase animated rubberBand" id="log_text"><span id="amical">Amicale</span><strong class="text-primary"> SPB</strong></div>
        <form (submit)="Login($event,email.value,password.value)" class="text-left form-validate">
          <div class="form-group-material">
            <input #email id="username" type="text" placeholder="Nom d'utilisateur" name="username" required data-msg="Please enter your username" class="input-material">
          </div>
          <div class="form-group-material">
            <input #password id="password" type="password" placeholder="Mot de passe" name="password" required data-msg="Please enter your password" class="input-material">
          </div>
          <div *ngIf="show">
            <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
              {{msg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="text-center form-group">
            <button type="submit" name="login" class="btn btn-primary">Se connecter</button>
          </div>

        </form>
        <small>Vous n'avez pas un compte?</small>
        <a routerLink="/inscri" class="signup"> &nbsp;S'inscrire</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>