<app-navbar></app-navbar>
<div class="project pb-100 pt-90 gray-bg main-container container" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="section_title text-center">
          <h1>NOS CONVENTIONS</h1>
          <p>  </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="project_menu text-center pt-60 pb-40">
          <ul>
            <li data-filter="*" class="active">Tous</li>
            <li data-filter=".e-learning">Soirées</li>
            <li data-filter=".logiciel">Hotels</li>
            <li data-filter=".mobile">Agences de voyages</li>
            <li data-filter=".web">Restaurants</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row grid">

      <div class="col-lg-3 col-md-4 col-sm-6 mobile">
        <div class="singel_items mt-30">
          <div class="items_img">
            <img src="../../assets/images/téléchargement.png" alt="Project">
          </div>
          <div class="items_cont">
            <h3>Tunisie Booking</h3>
            <a class="project-popup" href="../../assets/images/téléchargement.png">view <i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>