<!--<div class="container">
  <div class="row">
    <div class="col-lg-12 full-carousel">
      <section id="carousel">
        <div id="carousel-home" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active cr_img">
              <img class="cr_img" src="../../assets/images/GREEN.PNG" alt="First slide">
              <div class="carousel-caption">
                <div class="caption text-left">

                </div>
              </div>
            </div>
            <div class="carousel-item cr_img">
              <img class="cr_img" src="../../assets/img/spiderweb.jpg" alt="Second slide">
              <div class="carousel-caption">
                <div class="caption text-center">
                  <h4 class="front_title">Rejoignez-nous</h4>
                  <h2 class="front_text">We Will Reach Your Buisness On The Top</h2>
                  <a class="btn btn-outline-primary" href="#">Nos Evènements</a>
                </div>
              </div>
            </div>
            <div class="carousel-item cr_img">
              <img class="cr_img" src="../../assets/img/hearthand.jpg" alt="Third slide">
              <div class="carousel-caption">
                <div class="caption text-right">
                  <h4 class="front_title">Rejoignez-nous</h4>
                  <h2 class="front_text">We Will Reach Your Buisness On The Top</h2>
                  <a class="btn btn-outline-primary" href="#">Nos Evènements</a>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-home" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-home" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </section>
    </div>
  </div>
</div>-->

<app-navbar></app-navbar>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000"
     xmlns="http://www.w3.org/1999/html">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item car-item active" style="background-image: url('../../assets/images/GREEN.PNG')">
      <div class="carousel-caption d-none d-md-block">
        <!--<div class="container">
          <div class="col-md-6">
            <div class="about-text">
              <h3>About me</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae officia recusandae tempore, hic cupiditate provident at esse odit, distinctio ipsum, porro. Odio, maiores. Quidem, repellendus, ad accusamus ex aspernatur perferendis.</p>
              <h5>Follow me on the web</h5>
              <a href="" class="btn btn-sm btn-outline-secondary">Twitter</a>
              <a href="" class="btn btn-sm btn-outline-secondary">Facebook</a>
              <a href="" class="btn btn-sm btn-outline-secondary">Youtube</a>
            </div>
          </div>
        </div>-->
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item car-item" style="background-image: url('../../assets/images/zaldou.PNG')">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item car-item" style="background-image: url('../../assets/images/group.jpg')">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container main-container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="section_title text-center">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="about_text pt-70 ">
        <h2 class="text-center">Bienvenue à Amicale SPB</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item nav-link">
            <a class="active" id="hist-tab" data-toggle="tab" href="#hist" role="tab" aria-controls="misson" aria-selected="true">Notre histoire</a>
          </li>
          <li class="nav-item nav-link">
            <a id="act-tab" data-toggle="tab" href="#act" role="tab" aria-controls="gol" aria-selected="false">Nos activités </a>
          </li>
          <li class="nav-item nav-link">
            <a id="memb-tab" data-toggle="tab" href="#memb" role="tab" aria-controls="gol" aria-selected="false">Nos membres </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="hist" role="tabpanel" aria-labelledby="misson-tab">
            <div class="row">
              <div class="col-md-10 ">
                <p>
                  L'Amical de SPB ISC est l'une des rares amicales constitués eu sein des entreprises
                  tunisiennes. Sa création, en mars 2017, a nécessité la forte implication de ses membres
                  en collaboration avec la direction générale de SPB ISC.
                </p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="act" role="tabpanel" aria-labelledby="act-tab">
            <div class="row">
              <div class="col-md-10 ">
                <p>
                  L'Amical de SPB ISC propose des activités culturelles et des loisirs pour les collaborateurs et leur assure
                  un soutien financier et morale.
                </p>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="memb" role="tabpanel" aria-labelledby="memb-tab">
            <p></p>
          <ul>
            <li><strong class="font-weight-bold">Président(e) : </strong>Hachani Imen</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="about_video pt-70" >
        <div class="ovarlay" data-overlay="5">
          <img src="../../assets/images/amicaleLogo.PNG" alt="About Video">
        </div>
        <div class="video_icon">
          <a class="Video-popup" href="https://www.youtube.com/watch?v=TiLB1ZAmnWo"><fa name="cog" animation="spin"></fa></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="become bg_cover back_img main-container" data-overlay="7" style="background-image: url(../../assets/images/IM.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="become_contant text-center">
          <h2 class="front_text">Vous voulez nous rejoindre ?</h2>
          <h5 class="front_title">Inscrivez-vous d'un simple clic</h5>
          <a routerLink="inscri" class="btn btn-primary">S'inscrire</a>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="client pb-100 pt-90">
  <div class="container main-container">
    <div class="row">


      <div class="col-lg-8 offset-lg-2">
        <div class="section_title text-center">
          <h2>LES AVIS</h2>
        </div>
      </div>



      <div class="col-lg-6 avis">

        <div class="singel-client gray-bg row">
          <div class="client-img col-lg-4">
            <img src="../../assets/img0/client/1.jpg" alt="Customer" class="cust mg-responsive center-block rounded-circle">
          </div>
          <div class="client-cont col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, temporibus soluta. Iusto tempore, reiciendis.</p>
            <h4>- M.H. Sajjad</h4>
          </div>
        </div>

      </div>


      <div class="col-lg-6 avis">
        <div class="singel-client gray-bg row">
          <div class="client-img col-lg-4">
            <img src="../../assets/img0/client/2.jpg" alt="Customer" class="cust mg-responsive center-block rounded-circle">
          </div>
          <div class="client-cont col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, temporibus soluta. Iusto tempore, reiciendis.</p>
            <h4>- Humayun Ahmed</h4>
          </div>
        </div>
      </div>

      <div class="col-lg-6 avis">
        <div class="singel-client gray-bg row">
          <div class="client-img col-lg-4">
            <img src="../../assets/img0/client/3.jpg" alt="Customear" class="cust mg-responsive center-block rounded-circle">
          </div>
          <div class="client-cont col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, temporibus soluta. Iusto tempore, reiciendis.</p>
            <h4>- Md Ripon</h4>
          </div>
        </div>
      </div>


      <div class="col-lg-6 avis">
        <div class="singel-client gray-bg row">
          <div class="client-img col-lg-4">
            <img src="../../assets/img0/client/4.jpg" alt="Customear" class="cust mg-responsive center-block rounded-circle">
          </div>
          <div class="client-cont col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, temporibus soluta. Iusto tempore, reiciendis.</p>
            <h4>- Tanvir Ahmed</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container main-container last-cont">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="section_title text-center">
        <h2>NOS EVENEMENTS</h2>
      </div>
    </div>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">



      <div class="carousel-item active">
        <div class="row">

          <div class="col-md-4">
            <div class="singel_items mt-30">
              <div class="items_img">
                <a routerLink="login"><img src="../../assets/img0/project/ph.jpg" alt="Project"></a>
              </div>
              <div class="items_cont">
                <a routerLink="login"><h3>Promotion immobilière</h3></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="singel_items mt-30">
              <div class="items_img">
                <a routerLink="login"><img src="../../assets/img0/project/comenregions.jpg" alt="Project"></a>
              </div>
              <div class="items_cont">
                <a routerLink="login"><h3>Annonceur publicitaire</h3></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="singel_items mt-30">
              <div class="items_img">
                <a routerLink="login"><img src="../../assets/img0/project/tom.jpg" alt="Project"></a>
              </div>
              <div class="items_cont">
                <a routerLink="login"><h3>Financial Management</h3></a>
              </div>
            </div>
          </div>

        </div>
      </div>






      <div class="carousel-item">
        <div class="row">

          <div class="col-md-4">
            <div class="singel_items mt-30">
              <div class="items_img">
                <a routerLink="login"><img src="../../assets/img0/project/ccc.jpg" alt="Project"></a>
              </div>
              <div class="items_cont">
                <a routerLink="login"><h3>Centre d'art contemporain</h3></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="singel_items mt-30">
              <div class="items_img">
                <a routerLink="login"><img src="../../assets/img0/project/moteur.jpg" alt="Project"></a>
              </div>
              <div class="items_cont">
                <a routerLink="login"><h3>Pièces automobiles</h3></a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="singel_items mt-30">
              <div class="items_img">
                <a routerLink="login"><img src="../../assets/img0/project/appli mobile.jpg" alt="Project"></a>
              </div>
              <div class="items_cont">
                <a routerLink="login"><h3>Application mobile artistes</h3></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12">
          &copy; Amicale SPB 2018 - Tous droits réservés

        </div>
        <a href="https://www.facebook.com/SPBatWork/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://twitter.com/Groupe_SPB" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/channel/UCSwS_anqIbCwq99Yr583JpQ" target="_blank" class="fa fa-youtube"></a>
        <a href="https://www.linkedin.com/company/spb-group/" target="_blank" class="fa fa-linkedin"></a>
      </div>
      <div class="col-md-4">
        <h6>14, rue 8612 - Impasse n° 3</h6>
        <h6>ZI Charguia I - 2035 Tunis - Tunisie</h6>
        <h6>Mobile : [+216] 58 48 76 05</h6>
        <h6>ihachani@spb.eu</h6>
      </div>

    </div>
  </div>
</footer>

